
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
}

.linkLeft {
    float: left;
}

.linkRight {
    float: right;
}

#logo {
    text-align: center;
}

#buttons {
    text-align: center;
}

#footer {
    background-color: rgb(235, 235, 235);
    height: 50px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.theLeft {
    float: left;
}

.theMiddle {
    position: fixed;
}

.theRight {
    float: right;
}