h1 {
    font-family: sans-serif;
}

#letter1 {
color: blue;
}

#letter2 {
    color: red;
}

#letter3 {
    color: yellow;
}

#letter4 {
    color: blue;
}

#letter5 {
    color: green;
}

#letter6 {
    color: red;
}